<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    </a>
  </div>
</nav> -->
<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="../assets/img/graduation-hat.png" alt="" width="30" height="24" class="navbar-brand-img d-inline-block align-text-cente">
    <span class="navbar-brand-title">Students Admin</span>
  </div>
</nav>

<!-- <nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav> -->

<div class="container">
  <!-- Content here -->
  <router-outlet></router-outlet>
</div>