<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/graduation-hat.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <span class="navbar-brand-title">Students Admin</span>
    </a>
  </div>
</nav> -->
<mat-toolbar>
  <img src="../assets/img/graduation-hat.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
  <span>Students Admin</span>
</mat-toolbar>
<div class="container">
  <!-- Content here -->
  <router-outlet></router-outlet>
</div>