
<div class="student-list">
  <div *ngIf="loading" class="full-loading">
    <div class="lds-dual-ring"></div>
  </div>

  <h2 class="main-title">Students List</h2>

  <div class="buttons">
    <button type="button" class="button is-light student-button-new modal-button" data-target="#new-student">New</button>  
    <button type="button" class="button is-light student-button-new modal-button" data-target="#import-student">Import</button>
  </div>

  <div *ngIf="students.length === 0 && !loading">
    <article class="message is-dark">
      <div class="message-body">
        There are no students, add one by clicking the New button
      </div>
    </article>
  </div>

  <div *ngIf="students.length > 0" class="table-container">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th style="width: 5%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students | paginate: { itemsPerPage: 10, currentPage: pageIndex, totalItems: registerCount}">
          <td>{{ student.name }}</td>
          <td> {{ student.lastName }}</td>
          <td> {{student.age }} </td>
          <td>  <a *ngIf="student.bioFileUrl" (click)="downloadBio(student)" class="button"><i class="far fa-eye"></i> </a> </td>
        </tr>      
      </tbody>
    </table>  
  </div>  
    <pagination-controls *ngIf="students.length > 0" class="pagination-style" (pageChange)="changePagination($event)"></pagination-controls>
</div>


  <!-- New Student Modal  -->
<app-new-student-modal (studentSavedEvent)="studentSaved($event)"></app-new-student-modal>

  <!-- Import Student Modal  -->
<app-import-student-modal (importStudentsSavedEvent)="importStudentsSaved($event)"></app-import-student-modal>

 