/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Navbar Styles*/
.navbar-brand-title{
    margin-left: 15px;
}

/* Student Styles */
.student-button-new{
    margin-top: 10px;
    margin-bottom: 10px;
}

